.geralContainer {
  background: #4953b8;
  height: 100vh;
  margin-top: 20px;
}
.containerAuth {
  background: #4953b8;

 
}
.containerGithub {
  color: white;

  padding-left: 40rem;
  margin-top: -250px;
}
.containerGithub span{
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  
}

.githubLogin{
  margin-top:50px;
  display: flex;
}
.buttonSim{
  width:80px;
  height:40px;
  background: #4953B8;
  border-radius: 5px;
}
.buttonNao{
  width:80px;
  height:40px;
  background: #4953B8;
  border-radius: 5px;
}
.signAndButtons{
  margin-top: 20px;
}
.buttonNao:hover{
  background: red;
}
.buttonSim:hover{
  background: green;
}

