.geralContainer {
  background: #4953b8;
  height: 100vh;
  margin-top: 20px;
  width: 100%;

}
.containerAuth {
  background: #4953b8;

 
}
.containerGithub {
  color: white;

  
  margin-top: -250px;
}
.containerGithub span{
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  
}

.githubLogin{
  margin-top:50px;
  display: flex;
}
.buttonSim{
  width:80px;
  height:40px;
  background: #4953B8;
  border-radius: 5px;
  color: white;
}
.buttonNao{
  width:80px;
  height:40px;
  background: #4953B8;
  border-radius: 5px;
  transition: 0.2s;
  color: white;
}
.signAndButtons{
  margin-top: 20px;
}
.buttonNao:hover{
  background: red;
}
.buttonSim:hover{
  background: green;
}
@media (max-width: 880px) {
  .imagemMoveit {
    display: none;
  }
  .containerGithub{
    margin: 5px auto;
    text-align: center;
  }
  .githubLogin{
    margin-left: 250px;
  }
  .logoImgMoveit1{
  margin-top: 200px;
  }
}


